/*****************************************/
/* Navbar */
/*****************************************/

@font-face {
    font-family: "Emmett";
    src: url(../fonts/emmett.ttf);
}

.emmett {
    font-family: "Emmett";
    font-size: 3em;
    color: #1237AE;
}

.navbar-item {
    color: #1237AE !important;
    font-size: 1.2em !important;
}

ul.nav a:hover {
    background-color: #E7E7E7 !important;
}

nav {
    margin-top: 20px;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}

/* used to change navbar toggle breakpoint */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

/*****************************************/
/* Index Main Area */
/*****************************************/

.text-limit {
    min-height: 85px;
}

@media (max-width: 990px) {

}

@media (max-width: 1195px) {
    .text-limit {
        min-height: 100px;
    }
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-top: 10px;
}

figure img {
    height: 200px;
    width: 300px;
}

.zauberputz-button {
    background-color: #1237AE !important;
    color: white;
}

.zauberputz-button:hover {
    background-color: #96DEFF !important;
}

footer {
    background-color: #DAEDFF;
    margin-top: 50px;
    padding: 10px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .text-limit {
        min-height: 0px;
    }

    h2 {
        text-align: center;
    }

    figure {
        margin-left: auto;
        margin-right: auto;
    }
}

/*****************************************/
/* Kontakt */
/*****************************************/

#kontakt p {
    font-size: 1.5em;
}

#kontakt h3 {
    font-weight: bold;
}
